/*The title of the website*/
#greeting{
  color: white;
  font-size: 50px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  position: relative;
  top: -150px;
}
/*search box location*/
#searchBar{
  width: 500px;
  margin: 0 auto;
  padding: 5px 5px 5px 1000px;
  border: none;
}


.inBlock1{
  /*width: 320px;*/
  /*height: 500px;*/
  vertical-align: top;
  display: inline-block;
  border: 10px solid white;
  border-radius: 20px;
  background-color: #D4EFDF  ;

}

/*Adding background*/
.bg1{
  background-image: url("pets.jpg");
  min-height: 300px;
}
.bg2{
  background-image: url("handshake.jpg");
  min-height: 300px;
}
.bg3{
  background-image: url("petcover.jpg");
  min-height: 300px;
}
/*Move the background*/
.bg1, .bg2, .bg3{
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Topic for the information*/
.caption1{
  position: absolute;
  color: white;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
.caption1 span.border1{
  background-color: #F08080;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: 'Poiret One',cursive;
}
/*position of the text for the information */
.position{
  position: relative;
}
.block1{
  font-family: 'Poiret One', cursive;
  color: #AAABAB;
  background-color: #7DCEA0;
  text-align: center;
  /*padding: 50px 80px;*/
  text-align: center;
}
input[type= text], input[type= password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button{
  background-color: #A9DFBF;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
  font-family: 'Poiret One',cursive;
}
.btn{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.imgcontainer{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar{
  width: 10%;
  border-radius: 50%;
}
.container {
  font-family: 'Poiret One',cursive;
  font-size: 20px;
  text-align: center;
  padding: 30px;

}

/*the modal background */
.modal{
  display: none;/*hidden by default*/
  position: fixed;/*stay in place*/
  z-index: 1; /*sit on top*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;/*enable scroll if needed*/
  padding-top: 60px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);

}
.modal-content{
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}
.close{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus{
  color: red;
  cursor: pointer;
}
.animate{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
